In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
from sklearn.datasets import load_boston
boston = load_boston()
df = pd.DataFrame(boston.data)

C:\Users\91911\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [2]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [3]:
x=df.iloc[:,:-1]
x

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90
...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90

In [4]:
y=df.iloc[:,-1:]
y

       12
0    4.98
1    9.14
2    4.03
3    2.94
4    5.33
..    ...
501  9.67
502  9.08
503  5.64
504  6.48
505  7.88

[506 rows x 1 columns]

In [5]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=1/3, random_state=0)

In [6]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [7]:
y_pred = regressor.predict(X_test)
y_pred

array([[ 5.46445454],
       [17.14751822],
       [12.5216246 ],
       [22.49920869],
       [10.25945153],
       [12.69548653],
       [13.36285781],
       [11.8521406 ],
       [15.2675238 ],
       [15.70553997],
       [30.16885626],
       [18.89513726],
       [16.68967883],
       [25.86192444],
       [ 7.30965503],
       [ 2.48892728],
       [12.7810182 ],
       [ 3.05832486],
       [ 6.29768928],
       [10.63661989],
       [ 9.24937872],
       [16.83995903],
       [13.88041625],
       [ 7.41738726],
       [10.40010563],
       [30.17524523],
       [15.0852322 ],
       [19.39169889],
       [ 3.31806675],
       [14.43286744],
       [16.90455634],
       [15.96679973],
       [12.50976323],
       [11.33864462],
       [11.3386373 ],
       [17.07700911],
       [20.11199196],
       [17.08463481],
       [17.7636491 ],
       [17.1976306 ],
       [ 7.27936062],
       [ 9.90572435],
       [ 7.64932867],
       [19.95418204],
       [ 7.98378353],
       [11.18495754],
       [12.2205829 ],
       [15.87975364],
       [21.64071462],
       [10.71592067],
       [17.09844922],
       [10.83697329],
       [12.3632989 ],
       [-2.78506412],
       [19.50715457],
       [ 9.97349302],
       [ 9.99139379],
       [10.98490758],
       [27.98052597],
       [14.15837199],
       [ 8.30846278],
       [11.39271098],
       [ 3.43821731],
       [ 5.7368822 ],
       [15.50392114],
       [ 6.05626737],
       [14.91760651],
       [12.69817226],
       [16.72264541],
       [ 9.05832371],
       [12.04871379],
       [ 9.30880036],
       [ 6.79026784],
       [ 5.32615828],
       [11.49509403],
       [23.18450669],
       [ 2.68513717],
       [ 9.84851461],
       [ 9.84917268],
       [13.95961152],
       [ 7.20133343],
       [15.15610099],
       [20.56230527],
       [ 3.25381154],
       [ 1.72826354],
       [ 7.67027312],
       [11.09369215],
       [18.71222398],
       [14.96297328],
       [15.88387245],
       [11.81104046],
       [17.90019386],
       [ 8.84651847],
       [ 6.34284348],
       [14.45587096],
       [ 8.99947129],
       [27.23147463],
       [ 7.99614546],
       [17.26210289],
       [13.57845287],
       [ 7.9411493 ],
       [13.3380882 ],
       [ 9.02809614],
       [ 8.31043385],
       [ 6.92951475],
       [11.82050353],
       [24.76268006],
       [21.86142544],
       [13.70932762],
       [ 5.68293561],
       [11.95166746],
       [19.69912772],
       [13.70942536],
       [13.96881112],
       [16.50976492],
       [10.89140653],
       [21.05830735],
       [15.56379396],
       [22.23845929],
       [-0.72227663],
       [ 5.27511615],
       [19.93550316],
       [13.2105483 ],
       [12.52490173],
       [13.59798533],
       [17.77698535],
       [ 6.67491515],
       [14.29621003],
       [11.07926669],
       [ 4.74826828],
       [15.80447937],
       [17.5077093 ],
       [17.06441008],
       [17.0101615 ],
       [16.06426317],
       [ 3.46027998],
       [11.32289516],
       [18.93100757],
       [ 4.76423125],
       [20.728256  ],
       [17.81787617],
       [10.93293998],
       [ 6.74311671],
       [ 5.64479611],
       [ 5.81895826],
       [15.94764168],
       [ 3.00762885],
       [ 5.5299675 ],
       [17.77497663],
       [21.98348642],
       [11.23065165],
       [ 9.06792385],
       [21.69422015],
       [ 9.50380137],
       [15.66902706],
       [ 6.44125376],
       [17.17333367],
       [14.54497686],
       [11.02377866],
       [17.80060091],
       [21.94393637],
       [14.17736226],
       [ 4.65994547],
       [ 6.92506547],
       [ 6.22026996],
       [ 9.96420774],
       [10.73088037],
       [ 9.87407371],
       [15.01676026]])

In [8]:
from sklearn.metrics import r2_score
score=r2_score(y_pred, y_test)

In [9]:
score

0.4313406048562901